[
  {rabbit,                  [ {tcp_listeners,         [<%= rabbitmq_port %>]} ] },
  {rabbit_mochiweb,         [ {port,                  <%= rabbitmq_mochiweb_port %>} ] },
  {rabbit_management,       [ {http_log_dir,          "/tmp/rabbit-mgmt"} ] },
  {rabbit_management_agent, [ {force_fine_statistics, true} ] }
].
